#skills_content {
  padding-left: 1rem;
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: space-around;
  gap:7px;
}

.personal_skills {
  text-align: left !important;
  
}

.professional_skills ul{
  display: flex;
  flex-direction: row !important;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  padding-right: 5px;
  gap:4px;
}


.personal_skills ul {
  padding-inline-start: 0 !important;
  
}


#skills_content h3 {
  font-weight: 600;
}



@media screen and (max-width: 400px) {
  #skills_content {
    font-size: 0.5rem;
  }
  #SkillsImgsContainer img {
    width: 28px;
    height: 28px;
  }

  .personal_skills h3 {
    padding-right: 10px;
  }

  .professional_skills ul img{
    width: 28px;
    height: 28px;
  }
  
}

@media screen and (max-width: 620px) {
  #SkillsImgsContainer {
    padding-right: 15px;
  }
}
