.content img {
  width: 2rem;
  height: 2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#jsIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.education li h3 {
  list-style: none;
  font-weight: 600;
}

.education {
  list-style: none;
  padding-inline-start: 1.25rem;
  padding-bottom: 1rem !important;
}

@media screen and (max-width: 500px) {
  .img-container {
    display: flex;
    flex-wrap: wrap;
  }
  .img-container img {
    width: 25px;
    height: 25px;
  }
  #jsIcon {
    width: 22px;
    height: 22px;
  }
}
