@font-face {
  font-family: "neue-machina";
  src: url("./assets/fonts/NeueMachina-Regular.otf") format("otf");
}
.card {
  /* Width: 1643px;
    Height: 2011px; */
  width: 70%;
  overflow-x: hidden;
  border: 1px solid #fff;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-width: 0.6px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.name-container h1{
  font-size: 15px;
}
.card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 1 !important;
  justify-content: center;
}

.card::before {
  content: "";
  background-image: url("./assets/imgs/top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1;
  max-height: 100vh;
}

.card::after {
  content: "";
  background-image: url("./assets/imgs/top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1 !important;
  transform: rotate(180deg);
}
.informations {
  text-align: left;
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.info-icon {
  width: 7px;
  height: 7px;
  margin-right: 6px;
}
.info-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: smaller;
  margin-bottom: 5px;
}
.profile-picture {
  border-radius: 217.97px;
  width: 6rem;
  height: 6rem;
  /* margin-right: 1rem;
  margin-left: 1rem; */
  margin: auto;
  padding:10px;
  z-index: 1 !important;
}
#name {
  font-family: "neue-machina";
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  margin-bottom: 5px;
}

#dioIconContainer{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#dioIcon{
  width:50px;
  height:40px;
  margin-right: 45px;
}



@media screen and (max-width: 420px) {
  .card {
    min-width: 289px;
  }
}

/* @media screen and (max-width: 400px) {
  .profile-picture {
    width: 5rem;
    height: 5rem;
  }
  .name-container h1{
    font-size: 13px;
  }

  .info-container p {
    font-size: 8px;
  }
} */
