ul{
    box-sizing: border-box;
    width: 80%;
}

.links li{
    list-style: none;
    margin-bottom: 20px;
    padding-left:0px;
    font-size:0.7rem;
    font-weight: 800;
    display: inline-block;
    box-sizing: border-box;
    margin-top:0;
}
.links a{
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 0.7rem;
    text-wrap: balance;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.links a:hover{
    color:pink;
    transition: .25s;
}
    
.links span::before {
    content: '';
    display: inline-block;
    width: .75rem;
    height: .75rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/icons/github.svg);
    transition: .25s;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    
}

.links{
    padding-right: 40px;
    white-space: pre-line;
}
