.professional-experience h2 {
  font-weight: 700;
}

.professional-experience p {
  margin-bottom: 1rem;
}

.professional-experience {
  width: 80%;
  list-style: none;
  padding-left: 1.25rem;
  padding-bottom: 1rem;
}

.professional-experience span::before {
  content: "";
  display: inline-block;
  background-image: url("assets/icons/calendar.svg");
  width: 0.75rem;
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
