#skills_content {
  padding-left: 1rem;
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: space-around;
}

.personal_skills {
  text-align: left !important;
}

.personal_skills ul {
  padding-inline-start: 0 !important;
}

#skills_content h3 {
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  #skills_content {
    font-size: 0.5rem;
  }
  #SkillsImgsContainer img {
    width: 28px;
    height: 28px;
  }

  .personal_skills h3 {
    padding-right: 10px;
  }
}

@media screen and (max-width: 620px) {
  #SkillsImgsContainer {
    padding-right: 15px;
  }
}
